<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Lists Today</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/tooplate-main.css">
    <link rel="stylesheet" href="css/owl.css">

  </head>
<!--
Tooplate 2113 Earth
https://www.tooplate.com/view/2113-earth
-->
  <body>

    <div class="sequence">
  
      <div class="seq-preloader">
        <svg width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg" class="seq-preload-indicator"><g fill="#F96D38"><path class="seq-preload-circle seq-preload-circle-1" d="M3.999 12.012c2.209 0 3.999-1.791 3.999-3.999s-1.79-3.999-3.999-3.999-3.999 1.791-3.999 3.999 1.79 3.999 3.999 3.999z"/><path class="seq-preload-circle seq-preload-circle-2" d="M15.996 13.468c3.018 0 5.465-2.447 5.465-5.466 0-3.018-2.447-5.465-5.465-5.465-3.019 0-5.466 2.447-5.466 5.465 0 3.019 2.447 5.466 5.466 5.466z"/><path class="seq-preload-circle seq-preload-circle-3" d="M31.322 15.334c4.049 0 7.332-3.282 7.332-7.332 0-4.049-3.282-7.332-7.332-7.332s-7.332 3.283-7.332 7.332c0 4.05 3.283 7.332 7.332 7.332z"/></g></svg>
      </div>
      
    </div>
    
        <div class="logo">
            <h1>Lists Today</h1>
            <h2>LT</h2>
        </div>
        <nav>
          <ul>
            <li><a href="#1"><img src="images/icon-1.png" alt=""> <em>News</em></a></li>
            <li><a href="#2"><img src="images/icon-3.png" alt=""> <em>Lists Today</em></a></li>
            <li><a href="#3"><img src="images/icon-3.png" alt=""> <em>Service</em></a></li>
            <li><a href="#4"><img src="images/icon-3.png" alt=""> <em>Contact Us</em></a></li>
          </ul>
        </nav>
        
        <div class="slides">
          <div class="slide" id="1">
            <div id="slider-wrapper">
                <div id="image-slider">
                  <ul>
                    <li class="active-img">
                      <div class="slide-caption">
                              <div class="container-fluid"> 
                                <div class="row">
                                    <div class="col-md-12" style="text-align:left;font-weight:bold;">
                                      <h3 style="text-align:left;font-weight:bold;color:blue;">PH LATEST NEWS</h3>
                                    </div>
                                  
                                    <div class="col-md-12">
                                         <p id="news_politics" style="float:right;position:absolute!important;left:-500%!important;max-width:22em;margin-right:30px;text-align:left;font-weight:bold!important;">  

                                         </p>
                                         <p id="news_business" style="float:left;max-width:22em;margin-right:10px;text-align:left;font-weight:bold!important;">  

                                        </p>
                                    </div>
                            
                                </div>
                            </div> 
                        
                      </div>
                    </li>
                    <li>
                      <div class="slide-caption" style="max-width: 800x;margin-right:32em;top:16em;">
                          <h4 style="color:violet;">The Latest </h4>
                          <div class="container-fluid"> 
                            <div class="row">
                                <div class="col-md-12">
                                  <h2 style="color:black">TECH PH NEWS & MORE</h2>
                                </div>
                              
                                <div class="col-md-12" style="margin-top:2em;">
                                     <p id="news_tech" style="float:right;min-width:35em;max-width:35em;position:absolute;right:68%;text-align:left;font-weight:bold!important;">  

                                     </p>
                                     <p id="news_us" style="float:left;max-width:30em;min-width:30em;position:absolute;left:35%;text-align:right;font-weight:bold!important;">  

                                    </p>
                                </div>
                        
                            </div>
                        </div> 
                          
                        </div>
                                            
                      </li>
                    <li>
                      <div class="slide-caption">
                        <strong>Login</strong>
                        <h5>To Get Cool Lists</h5>


                        <div th:if="${error}">
                          Unable to login. Check your username and password.
                          <p>New here? Click
                            <a th:href="@{/register}">here</a> to register.</p>
                        </div>
                    
                       
                    
                      

                        <div class="container-fluid" style="margin-right:80em;">
                                <form id="contact" th:action="@{/login}" method="post" style="max-height:300px!important;">
                                    <div class="row">
                                      <div class="col-md-4">
                                        <h3 style="color:#ffff;">Login </h3>
                                      </div>
                                      <div class="col-md-8">
                                        <fieldset class="form-group"> 
                                          <label for="username" style="color:#ffff;float:left;margin-right:15px;">Username: </label>
                                          <input type="text" style="max-width:320px!important;" class="form-control" name="username" id="username" /><br/>
                                          <label for="password" style="color:#ffff;float:left;margin-right:15px;">Password: </label>
                                          <input type="password" style="max-width:320px!important;" class="form-control" name="password" id="password" /><br/>
                                          <button class="btn btn-info" type="submit" value="Login" onclick="function subfr(){ document.getElementById('loginForm').submit(); }; subfr();">Login</button>
                                       
                                        </fieldset>
                                  
                                      
                                         
                                        
                                    </div>
                                
                            </div></form>
                        </div>

                      </div>
                    </li>                      
                  </ul>
                </div>
                <div id="thumbnail">
                  <ul>
                    <li class="active"><img src="images/thumb-01.jpg" alt="Earth" /></li>
                    <li><img src="images/thumb-02.jpg" alt="Meeting" /></li>
                    <li><img src="images/thumb-03.jpg" alt="Smart" /></li>         
                  </ul>
                </div>
              </div>
        </div>
        <div class="slide" id="2">
            <div class="content second-content">
                <div id='tabs'>
                  <ul>
                    <li><a href='#tabs-1'><span class='fa fa-users'></span></a></li>
                  </ul>
                  <section class='tabs-content'>
                    <article id='tabs-1' class="recipes-tab" >
                      <h2>Recipes</h2>
                      <span><a th:href="@{/register}" >Join & Submit Your Recipes</a></span>
                      <p  id="recipes-tab"></p>
                    </article> 
                  </section>
                </div>
            </div>
        </div>
        <!----News --->
        <div class="slide" id="3">
            <div class="content third-content">
              

                        <div class="container-fluid" style="margin-right:80em;">
                          <form id="contact" th:action="@{/subscribe}" method="post" style="max-height:300px!important;">
                              <div class="row">
                                <div class="col-md-4">
                                  <h4 style="color:#ffff;font-weight: 400;">Email Service</h4>
                                </div>
                                <div class="col-md-8">
                                  <fieldset class="form-group"> 
                                    <label for="username" style="color:#ffff;float:left;margin-right:15px;">Email: </label>
                                    <input type="text" style="max-width:320px!important;" class="form-control" name="email" id="email" /><br/>
                                  </fieldset>
                            
                                
                                  <fieldset class="form-group"> 
                                    <button class="btn btn-info" type="submit" value="Login" onclick="function subfr(){ document.getElementById('loginForm').submit(); }; subfr();">Subscribe</button>
                                  </fieldset>
                            
                                  
                              </div>
                          
                      </div></form>
                  </div>

            </div>
        </div>
        <div class="slide" id="4">
            <div class="content fourth-content">
                <div class="container-fluid">
                    <form id="contact" action="" method="post">
                        <div class="row">
                          <div class="col-md-12">
                            <h2>Say Hello!</h2>
                          </div>
                          <div class="col-md-6">
                            <fieldset>
                              <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                            </fieldset>
                          </div>
                          <div class="col-md-6">
                            <fieldset>
                              <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="">
                            </fieldset>
                          </div>
                          <div class="col-md-12">
                            <fieldset>
                              <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-md-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="button">Send Now</button>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="display: none;" class="coin_defi" th:text="${coin_defi}"></div>
        <!-- <div style="display: none;" class="coin_defi" th:text="${coin_defi}"></div>
        <div style="display: none;" class="coin_stablecoin" th:text="${coin_stablecoin}"></div>
        <div style="display: none;" class="coin_staking" th:text="${coin_staking}"></div>
        <div style="display: none;" class="coin_nft" th:text="${coin_nft}"></div>

        <div style="display: none;" class="recipes" th:text="${recipes}"></div>

        <div style="display: none;" class="news_tech" th:text="${news_tech}"></div>
        <div style="display: none;" class="news_biz" th:text="${news_biz}"></div>
        <div style="display: none;" class="news_us" th:text="${news_us}"></div> -->

        
  
        


    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="js/owl.js"></script>
    <script src="js/accordations.js"></script>
    <script src="js/main.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

        

             //////////////////////////////////////////////////GET COINS/////////////////////////////////////
            // console.log("COINS API");
            // let data = null;

            // const xhr_nft = new XMLHttpRequest();  xhr_nft.withCredentials = true;
            
            // xhr_nft.addEventListener("readystatechange", function (){
            //   if (this.readyState === this.DONE) {
            //     console.log("DONE RECIPES EVENT") ;
            //     let j_nft =  JSON.parse(this.responseText);  console.log("COINS API NFT J_NFT"); console.log(j_nft);
            //     let dv = document.getElementById("coins_list").innerHTML; 
            //     for(let i = 0 ; i<j_nft.length; i++ ){
            //         dv = dv + ` <a href="`+ j_nft.data.coins[i].coinrankingUrl +`"><span style="color:#fff;font-weight:400;"> Coin Rank : `+ j_nft.data.coins[i].symbol +`  &nbsp;&nbsp;&nbsp; Name : `+ j_nft.data.coins[i].name +` &nbsp;&nbsp;&nbsp; Price in USD : `+ j_nft.data.coins[i].price +` &nbsp;&nbsp;&nbsp; Price in Bitcoin : `+ j_nft.data.coins[i].btcPrice +` </span></a><br>`;
            //     }
            //     console.log("DONE RECIPES DV = "+dv);
            //   }
            // });

            // xhr_nft.open("GET", "https://api.coinranking.com/v2/coins?limit=7&tags=nft&x-access-token%20=53a0b0a7e4f2fa59519e4");
            
            // xhr_nft.setRequestHeader("x-access-token", "53a0b0a7e4f2fa59519e4");

            // xhr_nft.send(data); 

            //////////////////////////////////////////////////END GET COINS/////////////////////////////////////
            //////////////////////////////////////////////////GET COINS/////////////////////////////////////
            console.log("COINS API");
            let data = null;

            // const xhr_stable = new XMLHttpRequest(); 
            // xhr_stable.addEventListener("readystatechange", function () {
            //   if (this.readyState === this.DONE) {
            //     console.log("DONE RECIPES EVENT")
            //     console.log(this.responseText);    console.log("DONE RECIPES EVENT")
            //   }
            // });

            // xhr_stable.open("GET", "https://api.coinranking.com/v2/coins?limit=7&tags=stablecoin&x-access-token%20=53a0b0a7e4f2fa59519e4");

            // xhr_stable.send(data); 

            //////////////////////////////////////////////////END GET COINS/////////////////////////////////////

            //////////////////////////////////////////////////GET COINS/////////////////////////////////////
            console.log("RECIPES API");
            data = null;

            const xhr_recipes = new XMLHttpRequest(); 

            xhr_recipes.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log("<<<<<<DONE RECIPES EVENT>>>>>>>>");
                let j_n1 = JSON.parse(this.responseText);  console.log("CRecipes"); console.log("CRecipes"); console.log(j_n1);
                let dv = ""; console.log(j_n1);console.log(j_n1.meals.length);console.log(j_n1.meals.length);
                for(let i = 0 ; i<j_n1.meals.length; i++ ){
                  dv = dv + `<img src="`+ j_n1.meals[i].strMealThumb +`" style="width:120px;height:80px;" /> `+  j_n1.meals[i].strMeal +`  &nbsp;&nbsp;
                    <a href="https://www.themealdb.com">Check out TheMealDB</a>
                    <br>`;
                }
               
                document.getElementById("recipes-tab").innerHTML=dv; 
              }
            });

            xhr_recipes.open("GET", "https://www.themealdb.com/api/json/v1/3/filter.php?a=American"); 

            xhr_recipes.send(data); 

            //////////////////////////////////////////////////END GET COINS/////////////////////////////////////
            console.log("NEWS API");
                        data = null;

            const xhr_us = new XMLHttpRequest();
            xhr_us.withCredentials = true;

            xhr_us.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                // console.log("DONE EVENT")
                // console.log(this.responseText);
                // console.log("DONE RECIPES EVENT") ;
                let j_n1 = JSON.parse(this.responseText);  console.log("COINS API NFT J_NFT"); console.log(j_n1);
                let dv = ""; console.log(j_n1);console.log(j_n1.articles.length);console.log(j_n1.articles.length);
                for(let i = 0 ; i<j_n1.articles.length; i++ ){
                  dv = dv + ` <a href="`+ j_n1.articles[i].link +`" style="display:block;font-size:26px;font-weight:bold;color:#fff;"><span> Title : `+ j_n1.articles[i].title +`  &nbsp;&nbsp;&nbsp; Publisher: `+ j_n1.articles[i].author+` </span></a><br>`;
                }
                // console.log("DONE NEWS DV = "+dv);console.log(dv);
                document.getElementById("news_us").innerHTML=dv; 
              }
            });

            xhr_us.open("GET", "https://api.newscatcherapi.com/v2/latest_headlines?countries=US&lang=en&page_size=4");
            xhr_us.setRequestHeader("x-api-key", "YqyvD46VhUYoB--M4AlEaZeWe633q0_DD0sVz6cGFVo");

            xhr_us.send(data); 
            function delay(time) { return new Promise(resolve => setTimeout(resolve, time));} delay(5500).then(() =>  xhr_us.send(data) );
            //////////////////////////////////////////////////END GET NEWS/////////////////////////////////////


             //////////////////////////////////////////////////END GET COINS/////////////////////////////////////
             console.log("NEWS API");
            data = null;

            const xhr_tech = new XMLHttpRequest();
            xhr_tech.withCredentials = true;

            xhr_tech.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                // console.log("DONE EVENT")
                // console.log(this.responseText);
                // console.log("DONE RECIPES EVENT") ;
                let j_n1 = JSON.parse(this.responseText);  console.log("COINS API NFT J_NFT"); console.log(j_n1);
                let dv = ""; console.log(j_n1);console.log(j_n1.articles.length);console.log(j_n1.articles.length);
                for(let i = 0 ; i<j_n1.articles.length; i++ ){
                    dv = dv + ` <a href="`+ j_n1.articles[i].link +`" style="display:block;font-size:26px;font-weight:bold;color:#fff;"><span> Title : `+ j_n1.articles[i].title +`  &nbsp;&nbsp;&nbsp; Publisher: `+ j_n1.articles[i].author+` </span></a><br>`;
                }
                console.log("DONE NEWS DV = "+dv);console.log(dv);
                document.getElementById("news_tech").innerHTML=dv; 
              }
            });

            xhr_tech.open("GET", "https://api.newscatcherapi.com/v2/latest_headlines?countries=PH&lang=en&topic=tech&page_size=4");
            xhr_tech.setRequestHeader("x-api-key", "YqyvD46VhUYoB--M4AlEaZeWe633q0_DD0sVz6cGFVo");
            delay(4500).then(() =>   xhr_tech.send(data) );
            
            //////////////////////////////////////////////////END GET NEWS/////////////////////////////////////


            //////////////////////////////////////////////////END GET COINS/////////////////////////////////////
            console.log("NEWS API");
            data = null;

            const xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                // console.log("DONE EVENT")
                // console.log(this.responseText);
                // console.log("DONE RECIPES EVENT") ;
                let j_n1 = JSON.parse(this.responseText);  console.log("COINS API NFT J_NFT"); console.log(j_n1);
                let dv = ""; console.log(j_n1);console.log(j_n1.articles.length);console.log(j_n1.articles.length);
                for(let i = 0 ; i<j_n1.articles.length; i++ ){
                    dv = dv + ` <a href="`+ j_n1.articles[i].link +`" style="display:block;font-size:26px;font-weight:bold;color:#fff;"><span> Title : `+ j_n1.articles[i].title +`  &nbsp;&nbsp;&nbsp; Publisher: `+ j_n1.articles[i].author+` </span></a><br>`;
                }
                console.log("DONE NEWS DV = "+dv);console.log(dv);
                document.getElementById("news_politics").innerHTML=dv; 
              }
            });

            xhr.open("GET", "https://api.newscatcherapi.com/v2/latest_headlines?countries=PH&lang=en&topic=politics&page_size=4");
            xhr.setRequestHeader("x-api-key", "YqyvD46VhUYoB--M4AlEaZeWe633q0_DD0sVz6cGFVo");
         

            delay(1000).then(() =>   xhr.send(data) );
            //////////////////////////////////////////////////END GET NEWS/////////////////////////////////////
            //////////////////////////////////////////////////END GET COINS/////////////////////////////////////
            console.log("NEWS API");
            data = null;

            let xhr_bz = new XMLHttpRequest();
            xhr_bz.withCredentials = true;

            xhr_bz.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                // console.log("DONE EVENT")
                // console.log(this.responseText);
                // console.log("DONE RECIPES EVENT") ;
                let j_n1 = JSON.parse(this.responseText);  console.log("COINS API NFT J_NFT"); console.log(j_n1);
                let dv = ""; console.log(j_n1);console.log(j_n1.articles.length);console.log(j_n1.articles.length);
                for(let i = 0 ; i<j_n1.articles.length; i++ ){
                    dv = dv + ` <a href="`+ j_n1.articles[i].link +`" style="display:block;font-size:26px;font-weight:bold;color:#fff;"><span> Title : `+ j_n1.articles[i].title +`  &nbsp;&nbsp;&nbsp; Publisher: `+ j_n1.articles[i].author+` </span></a><br>`;
                }
                console.log("DONE NEWS DV = "+dv);console.log(dv);
                document.getElementById("news_business").innerHTML=dv; 
              }
            });

            xhr_bz.open("GET", "https://api.newscatcherapi.com/v2/latest_headlines?countries=PH&topic=business&page_size=4");
            xhr_bz.setRequestHeader("x-api-key", "YqyvD46VhUYoB--M4AlEaZeWe633q0_DD0sVz6cGFVo");

            
            delay(3500).then(() =>    xhr_bz.send(data) );

            //////////////////////////////////////////////////END GET NEWS/////////////////////////////////////
            // navigation click actions 
            $('.scroll-link').on('click', function(event){
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });
            // scroll to top action
            $('.scroll-top').on('click', function(event) {
                event.preventDefault();
                $('html, body').animate({scrollTop:0}, 'slow');         
            });
            // mobile nav toggle
            $('#nav-toggle').on('click', function (event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });
        });
        // scroll function
        function scrollToID(id, speed){
            var offSet = 0;
            var targetOffset = $(id).offset().top - offSet;
            var mainNav = $('#main-nav');
            $('html,body').animate({scrollTop:targetOffset}, speed);
            if (mainNav.hasClass("open")) {
                mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                mainNav.removeClass("open");
            }
        }
        if (typeof console === "undefined") {
            console = {
                log: function() { }
            };
        }
    </script>

  </body>
</html>